body {
    background: darkmagenta;
}

.Display th,
.Display td {
    border: 1px solid black;
    padding: 8px; /* Add padding for better spacing */
    text-align: center; /* Center-align text in cells */
}

.Display th {
    background-color: #ebe6e6;
    color: rgb(6, 4, 4);
}

/* Add a bit of spacing between the rows in the Display table */
.Display tr {
    margin-bottom: 5px;
}
